<!-- Acts as partial inside of user.html -->
<h1>EVENT PARTIAL!</h1>

<!-- {{home}} -->
<!-- {{event}} -->

<button type="button" name="button" ng-click='budget.newItem()'>NEW ITEM</button>
<button type="button" name="button" ng-click='budget.showItem()'>SHOW ITEM</button>
<button type="button" name="button" ng-click='budget.createItem()'>CREATE ITEM</button>
<button type="button" name="button" ng-click='budget.updateItem()'>UPDATE ITEM</button>
<button type="button" name="button" ng-click='budget.deleteItem()'>DELETE ITEM</button>

<h1>EVENT PARTIAL!</h1>
