<!-- sign up login in home page -->
<!-- slideshow -->
<script type="text/javascript">
  $('.carousel.carousel-slider').carousel({fullWidth: true});
</script>

  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <!-- <a class="btn waves-effect white grey-text darken-text-2">button</a> -->
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>


<!-- Signup Modal content -->
   <div id="signupModal" class="modal">
      <div class="modal-content">
        <span ng-click="home.closeHomeModal('signup')" class="close">&times;</span>

        <form ng-submit="auth.signup(auth.newUser)">
          <input type="text"  placeholder="name" ng-model="auth.newUser.name">
          <input type="email" placeholder="email"  ng-model="auth.newUser.email">
          <input type="password" placeholder="password" ng-model="auth.newUser.password">
          <input type="submit" value="sign up">
        </form>

      </div>
    </div>
    <!-- modal main div end -->

   <!-- Login Modal content -->
   <div id="loginModal" class="modal">
       <div class="modal-content">
         <span ng-click="home.closeHomeModal('login')" class="close">&times;</span>

         <form ng-submit="auth.login(userInfo)">
           <input type="email" placeholder="email"  ng-model="userInfo.email">
           <input type="password" placeholder="password" ng-model="userInfo.password">
           <input type="submit" value="log in">
         </form>

       </div>
     </div>
     <!-- modal main div end -->
