<!-- sign up login in home page -->
<!-- slideshow -->


<!-- <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div> -->


   <div class="">
      <p>login</p>
     <form ng-submit="auth.login(userInfo)">
       <input type="email" placeholder="email"  ng-model="userInfo.email">
       <input type="password" placeholder="password" ng-model="userInfo.password">
       <input type="submit" value="log in">
     </form>

     <h1>This is where the homepage slideshow goes! sdfksjdglkgdlkdjs</h1>
   </div>
   <!-- modal main div -->
   <div id="myModal" class="modal">

  <!-- Modal content -->
      <div class="modal-content">
        <span ng-click="home.closeSignupModal()" class="close">&times;</span>

        <form ng-submit="auth.signup(newUser)">
          <input type="text"  placeholder="name" ng-model="newUser.name">
          <input type="email" placeholder="email"  ng-model="newUser.email">
          <input type="password" placeholder="password" ng-model="newUser.password">
          <input type="submit" value="sign up">
        </form>

        <!-- form Content start -->
        <!-- <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
          </form>
        </div>
        <a id="signupButton" class="waves-effect waves-light btn">sign up</a> -->
        <!-- form content end -->
      </div>
    </div>
    <!-- modal main div end -->
