<!-- sign up login in home page -->
<!-- slideshow -->
<script type="text/javascript">
  $('.carousel.carousel-slider').carousel({fullWidth: true});
</script>

  <div class="carousel carousel-slider center" data-indicators="true" style="height: 580px;">
    <div class="carousel-fixed-item center">
      <!-- <a class="btn waves-effect white grey-text darken-text-2">button</a> -->
    </div>
    <div class="carousel-item amber accent-4 white-text" href="#one!">
      <h2>Second Panel</h2>
      <img ng-src="/images/o-FAMILY-WEDDINGS-facebook.jpg">
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item lime accent-4 white-text" href="#two!">
      <h2>Third Panel</h2>
      <img ng-src="/images/PicMonkey Sample.jpg">
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item cyan darken-4 white-text" href="#three!">
      <h2>Fourth Panel</h2>
      <img ng-src="/images/63600741571299640660390750_Graduation.jpg">
      <p class="white-text">This is your fourth panel</p>
    </div>
    <div class="carousel-item red accent-4 white-text" href="#four!">
      <h2>First Panel</h2>
        <video ng-src="/images/1BVAF5wEG8.mp4" autoplay poster="#"></video>
        <!-- http://twofuckingdevelopers.com/2013/09/what-i-learnt-html5-video-angularjs/ -->
    </div>
  </div>


   <!-- <div class="">
     <h1>This is where the homepage slideshow goes!</h1>
   </div> -->

<!-- Signup Modal content -->
   <div id="signupModal" class="modal">
      <div class="modal-content">
        <span ng-click="home.closeHomeModal('signup')" class="close">&times;</span>

        <form ng-submit="auth.signup(auth.newUser)">
          <input type="text"  placeholder="name" ng-model="auth.newUser.name">
          <input type="email" placeholder="email"  ng-model="auth.newUser.email">
          <input type="password" placeholder="password" ng-model="auth.newUser.password">
          <input type="submit" value="sign up">
        </form>

      </div>
    </div>
    <!-- modal main div end -->

   <!-- Login Modal content -->
   <div id="loginModal" class="modal">
       <div class="modal-content">
         <span ng-click="home.closeHomeModal('login')" class="close">&times;</span>

         <form ng-submit="auth.login(userInfo)">
           <input type="email" placeholder="email"  ng-model="userInfo.email">
           <input type="password" placeholder="password" ng-model="userInfo.password">
           <input type="submit" value="log in">
         </form>

       </div>
     </div>
     <!-- modal main div end -->
